log/
disks/
.vagrant/
.vagrant/**/*
**/*.log
**/*.swp
.vagrant/machines/master-1/virtualbox/vagrant_cwd
.status
.running
**/multipass/cloud-init/*.yaml
**/multipass/environment.conf
**/multipass/examples/*cloud-init*.yaml
**/multipass/shared/network/*.yaml
**/multipass/shared/dns/forward.*
**/multipass/shared/dns/reverse.*
**/multipass/shared/dns/named.conf.*
**/multipass/shared/dns/servers.conf
**/multipass/shared/dns/setup-resolv.conf-all.sh
**/multipass/shared/loadbalancer/haproxy.cfg
**/multipass/shared/update-system-config-all.sh
**/minikube/rbac/dave/
**/install/kind/*.pem
