.idea/
.running
.status
.vagrant/
.vagrant/**/*
.vagrant/machines/master-1/virtualbox/vagrant_cwd
**/.terraform.*
**/.terraform/
**/.terraform/*
**/*.log
**/*.swp
**/*.xpkg
**/*output.json
**/credentials.json
**/install/kind/*.pem
**/minikube/rbac/dave/
**/multipass/cloud-init/*.yaml
**/multipass/environment.conf
**/multipass/examples/*cloud-init*.yaml
**/multipass/shared/dns/forward.*
**/multipass/shared/dns/named.conf.*
**/multipass/shared/dns/reverse.*
**/multipass/shared/dns/servers.conf
**/multipass/shared/dns/setup-resolv.conf-all.sh
**/multipass/shared/loadbalancer/haproxy.cfg
**/multipass/shared/network/*.yaml
**/multipass/shared/network/*.conf
**/multipass/shared/update-system-config-all.sh
**/packer*.json
**/password.conf
**/terraform.*
**/terraform.tfstate
**/terraform.tfstate.backup
disks/
lab/argocd/kind-cluster.yaml
lab/kyverno/kind-cluster.yaml
log/