# Certificate Challenges failing with Istio + Istio Gateway when installed via Helm
# https://github.com/istio/istio/issues/37329

# Kubernetes Ingress not working
# https://github.com/istio/istio/issues/36444

# Default access log format
# https://istio.io/latest/docs/tasks/observability/logs/access-log/#default-access-log-format

# Envoy Access logging
# https://www.envoyproxy.io/docs/envoy/latest/configuration/observability/access_log/usage#command-operators

meshConfig:
  ingressService: istio-ingress
  ingressSelector: ingress
  accessLogFile: /dev/stdout
  accessLogEncoding: JSON
  accessLogFormat: |
    {
      "authority": "%REQ(:AUTHORITY)%",
      "bytes_received": "%BYTES_RECEIVED%",
      "bytes_sent": "%BYTES_SENT%",
      "downstream_local_address": "%DOWNSTREAM_LOCAL_ADDRESS%",
      "downstream_remote_address": "%DOWNSTREAM_REMOTE_ADDRESS%",
      "duration": "%DURATION%",
      "host_name": "%HOSTNAME%",
      "method": "%REQ(:METHOD)%",
      "path": "%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%",
      "protocol": "%PROTOCOL%",
      "request_duration": "%REQUEST_DURATION%",
      "request_id": "%REQ(X-REQUEST-ID)%",
      "requested_server_name": "%REQUESTED_SERVER_NAME%",
      "response_code_details": "%RESPONSE_CODE_DETAILS%",
      "response_code": "%RESPONSE_CODE%",
      "response_flags": "%RESPONSE_FLAGS%",
      "route_name": "%ROUTE_NAME%",
      "start_time": "%START_TIME(%s.%9f)%",
      "upstream_cluster": "%UPSTREAM_CLUSTER%",
      "upstream_host": "%UPSTREAM_HOST%",
      "upstream_local_address": "%UPSTREAM_LOCAL_ADDRESS%",
      "upstream_service_time": "%RESP(X-ENVOY-UPSTREAM-SERVICE-TIME)%",
      "user_agent": "%REQ(USER-AGENT)%",
      "x_forwarded_for": "%REQ(X-FORWARDED-FOR)%",
      "x_gateway": "%REQ(X-W1-GATEWAY)%",
      "x_wasp_id": "%REQ(X-WASP-ID)%"
    }
