{{- if $.Values.global.remoteWrite.enabled }}
remote_write:
  - url: https://metric-api.newrelic.com/prometheus/v1/write?prometheus_server={{ .Values.global.cluster }}
    authorization:
      credentials_file: /etc/secrets/newrelic/license

    write_relabel_configs:
      - source_labels: [__name__]
        regex: "\
          apiserver_flowcontrol_current_inqueue_requests(.*)|\
          etcd_db_total_size_in_bytes(.*)|\
          process_resident_memory_bytes(.*)|\
          argocd(.*)|\
          coredns(.*)|\
          workload:(.*)"
        action: keep

      - source_labels: [job]
        regex: '(.*)'
        target_label: prometheus_job

      - source_labels: [__name__]
        regex: 'workload:(.*)'
        target_label: __name__
        replacement: '$1'
        action: replace
{{- end }}
