[masters]
{% for server in servers.keys() %}
{% if servers[server].type == 'master' %}
{{ server }}
{% endif %}
{% endfor %}

[nodes]
{% for server in servers.keys() %}
{{ server }} ansible_host={{ servers[server].ip }}
{% endfor %}

[all:vars]
ansible_user=centos
ansible_become=yes
